{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Categoria</th>
        <th>Frecuencia</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% if error %}
      <p>{{error}}</p>
      {% else %}
        {% for v in vehiculos %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{v.marca}}</td>
            <td>{{v.modelo}}</td>
            <td>{{v.categoria}}</td>
            <td>{{v.frecuencia}}</td>
            <td>${{v.precio}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
</table>

{% endblock %}